.header {
  width: 100%;
  background: #03a9f4;

  &__container {
    padding: 20px;
  }
  &__title {
    display: block;
    height: 100%;
    margin: 0;
    color: white;
    text-align: center;
  }
}
.header-btn {
  float: right;
  margin-top: -30px;
  color: white;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}
