:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.taskForm {
  margin: auto;
  min-width: 300px;
  width: 40%;
  max-width: 50%;

  background: white;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.9);
  padding: 10px;

  &__field {
    width: 100%;
  }
}
.form-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-btn {
  width: 40%;
  height: 45px;
  border-radius: 0%;
}
