<form class="taskForm" [formGroup]="taskForm">
<h2 class="form-title">Новая задача</h2>

  <mat-form-field class="taskForm__field" appearance="fill">
    <mat-label>Название задачи...</mat-label>
    <input matInput type="text" id="task" formControlName="task">
  </mat-form-field>

  <mat-form-field class="taskForm__field" appearance="fill">
    <mat-label>Категория</mat-label>
    <mat-select id="category" formControlName="category">
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
      <mat-option value="two">Новая категория</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="taskForm__field" [hidden]="true" appearance="fill">
    <mat-label>Название новой категории</mat-label>
    <input matInput type="text" id="newCategory" formControlName="newCategory">
  </mat-form-field>

  <div class="form-btns">
    <button class="form-btn" type="submit" mat-raised-button color="cancel">Отмена</button>
    <button class="form-btn" type="submit" mat-raised-button color="primary">Отправить</button>
  </div>
</form>


