<form class="taskForm" [formGroup]="taskForm" (submit)='formSubmitted()'>
  <h2 class="form-title">Новая задача</h2>

  <mat-form-field class="taskForm__field" appearance="fill">
    <mat-label>Название задачи...</mat-label>
    <input matInput type="text" id="text" formControlName="text" required>
  </mat-form-field>

  <mat-form-field class="taskForm__field" appearance="fill">
    <mat-label>Категория</mat-label>
    <mat-select id="titleSelect" required formControlName="title" (selectionChange)="changed($event)">
      <mat-option *ngFor="let category of projects.getCards() | async;" [value]="category.title">{{category.title}}
      </mat-option>
      <mat-option style="color: blue" value="Новая категория" (click)="changed($event)">Новая категория</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="taskForm__field" *ngIf="isNewCategory" appearance="fill">
    <mat-label>Название новой категории</mat-label>
    <input matInput type="text" id="newTitle" formControlName="newTitle">
  </mat-form-field>


  <div class="form-btns">
    <button class="form-btn" type="reset" (click)='hideForm()' mat-raised-button style="background:#D7D7D7">Отмена</button>
    <button class="form-btn" type="submit" mat-raised-button color="primary">Отправить</button>
  </div>
</form>
